<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.pure.sixgrid"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-sdk 
        android:minSdkVersion="13" 
        android:targetSdkVersion="19" />

    <application
		android:launchMode="singleTask"
        android:clearTaskOnLaunch="true"
        android:stateNotNeeded="true"
		android:theme="@android:style/Theme.Holo.Light.NoActionBar"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
		
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
			android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:screenOrientation="nosensor" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
		<activity
			android:label="@string/app_name"
            android:name=".License"
			android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:screenOrientation="nosensor" >
		</activity>
    </application>

</manifest>
